<!--
<%= link_to 'About', welcome_about_path, class: "btn btn-default" %>
<%= link_to 'Articles', articles_path, class: "btn btn-default" %> 
<%= link_to 'Users', users_path, class: "btn btn-default" %>
<%= link_to 'Login', login_path, class: "btn btn-default" %>
-->
<div class="center jumbotron">
    <h1>Article Management App</h1>
    <!-- btn-xlarge is my custom class which I defined in custom.css.scss file -->
    <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
